<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bdd_Suite">
	<listeners>
		<listener class-name="cogmentoCRM.Web.listeners.CogmentoCRM_Listener" />
	</listeners>
	<test name="Regression Test">
		<classes>
			<class name="cogmentoCRM.Web.runners.AllureTestNGRunner" />
		</classes>
	</test>
</suite>

